# Fundamentos | Python v3.8+


## Sumário

- [Operadores Aritmético](#operadores-aritméticos)
- [Operadores de Atribuição](#operadores-de-atribuição)
- [Operadores Relacionais](#operadores-relacionais)
- [Operadores Lógicos](#operadores-lógicos)
- [Operadores Unários](#operadores-unários)
- [Operadores Ternários](#operadores-ternários)
- [Operadores de Membro](#operadores-de-membro) 
- [Operadores de Identidade](#operador-de-identidade)
- [Builtins](#builtins)
- [Coerção Automática](#coerção-automática)
- [Conversão de Tipos](#conversão-de-tipos)
- [Números]()
- Strings
- Substrings
- Listas
- Sublistas
- Tuplas
- Dicionários
- Conjuntos
- Interpolação

### Links de Acesso Rápido

- [Apostila | Cod3r](./curso-python-versao-1.1.pdf)
- [W3Schools | Pyhton Docs](https://www.w3schools.com/python/default.asp)
- [Roadmap Python Developer](https://roadmap.sh/python)
- [Exercícios | Kaggle](https://www.kaggle.com/learn/python) 
- [Métodos Mágicos | dir()](https://python-course.eu/oop/magic-methods.php)
- [Tabela Verdade | Operadores Lógicos](https://www.notion.so/siriusb/Aula-1-L-gica-Proposicional-0b5a677aed5b4c7f82749ea5229caa03?pvs=4)

## Operadores Aritméticos

In [14]:
print(1 + 4)
print(1 - 4)
print(1 / 4)
print(1 // 4)
print(1 * 4)
print(10 % 4)

5
-3
0.25
0
4
2

## Operadores de Atribuição

In [12]:
a = 7
print(a)
a += 1
print(a)
a -= 2
print(a)
a /= 3
print(a)
a //= 3
print(a)

7
8
6
2.0
0.0

## Operadores Relacionais

In [20]:
print(7 > 8)
print(7 < 8)
print(7 >= 8)
print(7 <= 8)
print(7 != 8)
print(7 == 8)
print(7 == '8')

False
True
False
True
True
False
False

## Operadores Lógicos

### Tabela Verdade Ou | or | || |

| V | F | Valor |
| -- | -- | --- |
| V | V | V |
| V | F | V |
| F | V | V |
| F | F | F |

### Tabela Verdade E | and | &&

| V | F | Valor |
| -- | -- | --- |
| V | V | V |
| V | F | F |
| F | V | F |
| F | F | F |

In [ ]:
True or False
7 != 3 and 2 > 3

# Tabela verdade do AND
True and True
True and False
False and True
False and False
True and True and False and True and True and True

# Tabela verdade do OR
True or True
True or False
False or True
False or False
False or False or True or False or False or False

# Tabela verdade do XOR
# True != True
# True != False
# False != True
# False != False

# Operador de Negação (unário)
not True
not False

not 0
not 1
not not -1
not not True

# Cuidado!
True & False
False | True
True ^ False

# AND Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 10
3 & 2

# OR Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 11
3 | 2

# XOR Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 01
3 ^ 2

# Um pouco de realidade
saldo = 1000
salario = 4000
despesas = 3900

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario

meta = saldo_positivo and despesas_controladas
meta

## Operadores Unários

In [2]:
a = 3
# a++
# a += 1
# a
# a--
# ++a
# ++a
-a
+a

not 0
not 1
not -2
not False
not not True

True

## Operadores Ternários

In [ ]:
esta_chovendo = True

print('Hoje estou com as roupas ' + ('secas.', 'molhadas.')[esta_chovendo])
print('Hoje estou com as roupas ' + ('molhadas.' if esta_chovendo else 'secas.'))

## Operadores de Membro

In [3]:
# Operador de Membro
lista = [1, 2, 3, 'Ana', 'Banana']
2 in lista
'Banana' not in lista

False

## Operador de Identidade

In [4]:
x = 3
y = x
z = 3
x is y
y is z
x is not z

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c

True

## Builtins

In [5]:
# type()
type(1)
__builtins__.type('Se eu fosse um peixinho...')
__builtins__.print(10 / 3)

# __builtins__.help(__builtins__.dir)

# a = 7
# import math
# dir()
# dir(__builtins__)


nome = 'Flor'
type(nome)
# __builtin__.len(nome)

dir()

3.3333333333333335

['In',
 'Out',
 '_',
 '_1',
 '_2',
 '_3',
 '_4',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'exit',
 'get_ipython',
 'lista',
 'lista_a',
 'lista_b',
 'lista_c',
 'nome',
 'open',
 'quit',
 'x',
 'y',
 'z']

## Conversão de Tipos

In [6]:
2 + 3
'2' + '3'
# 2 + '3'
# print(2 + '3')

a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

type(str(a))

# print(2 + int('3.4'))

<class 'int'>
<class 'str'>
5
23

str

## Coerção Automática
São coerções implícitas feitas pelo Python, coisas que linguagens de baixo nível geralmente não realizam.

In [7]:
10 / 2
type(10 / 2)
10 / 3
10 // 3
type(10 // 3)
10 // 3.3
type(10 // 3.3)
10 / 2.5
2 + True
2 + False
type(1 + 2)
type(1 + 2.5)

float

## Números

### Tipos Numéricos

In [8]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)
type(a - b)

b.is_integer()
5.0.is_integer()

dir(int)
int.__add__(2, 3)
2 + 3

(-2).__abs__()
abs(-2)

(-3.6).__abs__()
dir(float)
abs(-3.6)

3.6

In [16]:
import decimal
from decimal import Decimal, getcontext

# 1.1 + 2.2
Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
#Decimal.max(Decimal(1), Decimal(7))
#dir(Decimal)

1.1 + 2.2
getcontext().prec = 10
#Decimal(1.1) + Decimal(2.2)

#dir(decimal)
#dir()

## Strings

### Tipos de Strings

In [17]:
dir(str)
nome = 'Saulo Pedro'
nome
nome[0]
# nome[0] = 'P'

# 'marca d'água'
"Dias D'Avila" == 'Dias D\'Avila'
"Teste \" funciona!"
texto = 'Texto entre apostrófos pode ter "aspas"'
texto

doc = """Texto com múltiplas
    ... linhas"""
doc
print('Texto com múltiplas\n\t... linhas')
print(doc)

doc2 = '''Também é possível
... com 3 aspas simples'''
doc2

Texto com múltiplas
	... linhas
Texto com múltiplas
    ... linhas

'Também é possível\n... com 3 aspas simples'

In [18]:
nome = 'Ana Paula'
nome[0]
nome[6]
nome[-3]
nome[4:]
nome[-5:]
nome[:3]
nome[2:5]

numeros = '1234567890'
numeros
numeros[::]
numeros[::2]
numeros[1::2]
numeros[::-1]
numeros[::-2]

nome[::-1]

'aluaP anA'

In [19]:
# %%
frase = 'Python é uma linguagem excelente'
'py' not in frase
'ing' in frase
len(frase)
frase.lower()
frase
frase = frase.upper()
frase

frase.split()
frase.split('E')

# dir(str)
# help(str.center)

['PYTHON É UMA LINGUAG', 'M ', 'XC', 'L', 'NT', '']

In [20]:
a = '123'
b = ' de Oliveira 4'
a + b
a.__add__(b)
str.__add__(a, b)

len(a)
a.__len__()
'1' in a
a.__contains__('1')

dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

## Listas

In [25]:
lista = []
type(lista)
dir(lista)
# help(list)
len(lista)
lista.append(1)
lista.append(5)
lista
len(lista)

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(5)
nova_lista
nova_lista.reverse()
nova_lista

['Bia', 'Ana', 1]

In [24]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme')
# lista.index(42)
lista[2]
1 in lista
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista[4]
# lista[5]
lista[-1]
lista[-5]

1

In [23]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3]
lista[1:-1]
lista[1:]
lista[:-1]
lista[:]
lista[::2]
lista[::-1]
del lista[2]
lista
del lista[1:]
lista

['Ana']

## Tuplas

In [26]:
tupla = tuple()
tupla = ()
type(tupla)
dir(tupla)
# help(tuple)
type(tupla)
tupla = ('um')
type(tupla)
tupla = ('um',)
type(tupla)
tupla[0]
# tupla[0] = 'novo'
cores = ('verde', 'amarelo', 'azul', 'branco')
cores[0]
cores[-1]
cores[1:]

cores.index('amarelo')
cores.count('Azul')
len(cores)

4

## Dicionários

In [28]:
pessoa = {'nome': 'Prof(a). Ana', 'idade': 38,
          'cursos': ['Inglês', 'Português']}
type(pessoa)
dir(dict)
len(pessoa)

pessoa
pessoa['nome']
pessoa['idade']
pessoa['cursos']
pessoa['cursos'][1]
# pessoa['tags']
pessoa.keys()
pessoa.values()
pessoa.items()
pessoa.get('idade')
pessoa.get('tags')
pessoa.get('tags', [])

[]

In [29]:
pessoa = {'nome': 'Prof. Alberto', 'idade': 43, 'cursos': ['React', 'Python']}
pessoa['idade'] = 44
pessoa['cursos'].append('Angular')
pessoa
pessoa.pop('idade')
pessoa
pessoa.update({'idade': 40, 'Sexo': 'M'})
pessoa
del pessoa['cursos']
pessoa
pessoa.clear()
pessoa

{}

## Conjuntos | Set()

In [30]:
a = {1, 2, 3}
type(a)
# a[0]
a = set('coddddd3r')
print(a)
print('3' in a, 4 not in a)
{1, 2, 3} == {3, 2, 1, 3}

# operacoes
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2)
c1.update(c2)
c1
c2 <= c1
c1 >= c2

{1, 2, 3} - {2}
c1 - c2
c1 -= {2}
c1

{'c', 'r', 'o', '3', 'd'}
True True

{1, 3}

## Interpolação

In [31]:
from string import Template

nome, idade = 'Ana', 30

print('Nome: %s Idade: %d' % (nome, idade))  # mais antiga
print('Nome: {0} Idade: {1}'.format(nome, idade))  # python < 3.6
print(f'Nome: {nome} Idade: {idade}')  # python >= 3.6


s = Template('Nome: $nome Idade: $idade')
print(s.substitute(nome=nome, idade=idade))

Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30

# Estruturas de Controle

## If Else

## For

### For sem Else

## While

## Switch

In [39]:
def get_dia_semana(dia):
    dias = {
        1: 'Domingo',
        2: 'Segunda',
        3: 'Terça',
        4: 'Quarta',
        5: 'Quinta',
        6: 'Sexta',
        7: 'Sábado'

    }
    return dias.get(dia, "**Inválido**")


if __name__ == '__main__':
    
    for dia in range(0, 9):
        print(f'{dia}: {get_dia_semana(dia)}')

0: **Inválido**
1: Domingo
2: Segunda
3: Terça
4: Quarta
5: Quinta
6: Sexta
7: Sábado
8: **Inválido**

In [40]:
def get_tipo_dia(dia):
    dias = {
        1: 'Fim de semana',
        2: 'Dia de semana',
        3: 'Dia de semana',
        4: 'Dia de semana',
        5: 'Dia de semana',
        6: 'Dia de semana',
        7: 'Fim de semana',
    }
    return dias.get(dia, '** inválido **')


if __name__ == '__main__':
    for dia in range(8):
        print(f'{dia}: {get_tipo_dia(dia)}')

0: ** inválido **
1: Fim de semana
2: Dia de semana
3: Dia de semana
4: Dia de semana
5: Dia de semana
6: Dia de semana
7: Fim de semana

### Match case | Python 3.10

In [ ]:
# Sintaxe

case padrao_1:
    <codigo_caso_padrao_1>
    case padrao_2:
    <codigo_caso_padrao_2>
    case padrao_3:
    <codigo_caso_padrao_3>
case _:
    <codigo_caso_nenhum_padrao_definido>

In [45]:
def get_dia_semana(dia):
    match dia:
        case 1:
            return 'Domingo'
        case 2:
            return 'Segunda'
        case 3:
            return 'Terça'
        case 4:
            return 'Quarta'
        case 5:
            return 'Quinta'
        case 6:
            return 'Sexta'
        case 7:
            return 'Sabado'
        case _:
            return '** inválido **'
            
    
 
if __name__ == '__main__':
    for dia in range(0, 9):
        print(f'{dia}: {get_dia_semana(dia)}')

0: ** inválido **
1: Domingo
2: Segunda
3: Terça
4: Quarta
5: Quinta
6: Sexta
7: Sabado
8: ** inválido **

In [46]:
def get_tipo_dia(dia):
    match dia:
        case 2 | 3 | 4 | 5 | 6 :
            return 'Dia de semana'
        case 1 | 7:
            return 'Fim de semana'
        case _:
            return '** inválido **'
            
 
 
if __name__ == '__main__':
    for dia in range(0, 9):
        print(f'{dia}: {get_tipo_dia(dia)}')

0: ** inválido **
1: Fim de semana
2: Dia de semana
3: Dia de semana
4: Dia de semana
5: Dia de semana
6: Dia de semana
7: Fim de semana
8: ** inválido **

# Manipulação de Arquivos

## Criando .csv

In [44]:
# Extraindo dados de uma tupla:

# Forma 1
print('{} vestido de {}'.format(*("Pato", "Banana")))
print('{1} vestido de {0}\n'.format(*("Pato", "Banana")))

# Forma 2
valores = ("Cachoeira", "Praia")
print('{} é tão bom quanto {}'.format(*valores))
print('{1} é tão bom quanto {0}'.format(*valores))

Pato vestido de Banana
Banana vestido de Pato

Cachoeira é tão bom quanto Praia
Praia é tão bom quanto Cachoeira

## Desafios | Udemy

In [ ]:
# Desafio 1: Qual é o percentual do salario que é comprometido com as despesas mensais?

salario = 4930
despesas = 2803

percentual = despesas / salario * 100

print('Percentual = {0:.2f}%'.format(percentual))

In [ ]:
# Desafio 2: Uma pessoa realiza seu trabalho na terça e na quinta. Estes podem dar ou não certo. A pessoa, seu Juracir, prometeu à familia que:
# Caso 1: ambos os trabalhos deem certo, ele vai ao shopping com a familia comprar uma TV de 50' + sorvete
# Caso 2: apenas um dos trabalhos dê certo, ele vai comprar a TV de 32' + sorvete
# Caso 3: quando nenhum dos dois trabalhos dão certo e o seu Juracir fica com saúde.

# Liste e imprima as possibilidades do cenário de Juracir
trabalho_terca = True
trabalho_quinta = False


tv50 = trabalho_terca and trabalho_quinta
tv32 = trabalho_terca != trabalho_quinta
sorvete = trabalho_terca or trabalho_quinta
saude = not sorvete

print('Tv50: {}\nTv32: {}\nSorvete: {}\nSaúde: {}'.format(tv50, tv32, sorvete, saude))

In [ ]:
# Desafio 3: If / Else

if

In [38]:
# Desafio 4: For
from random import randint

def sortear_dado():
    return randint(1,6)

valor_sorteado = sortear_dado()

for i in range(1,7):
        
    if i % 2 != 0:
        continue
    
    if i == valor_sorteado:
        print('Acertou!', i)
        break

else:
    print('Não acertou o número')

Não acertou o número

In [ ]:
# Desafio SET: Palavras proibidas

PALAVRAS_PROIBIDAS = {'política', 'religião', 'futebol' }