# Exercício 4 | Apache Spark

In [1]:
# Para o script externo 
# from pyspark.sql import SparkSession
# spark = SparkSession.builder.master("local[*]").appName("Exercicio Intro").getOrCreate()

# Para o script interno
from pyspark import SparkContext, SQLContext
import pandas as pd

Starting Spark application

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

SparkSession available as 'spark'.

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [2]:
# Leitura do arquivo
df_nomes = spark.read.csv('/home/glue_user/workspace/nomes_aleatorios.txt')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [3]:
# Verificando o carregamento
df_nomes.show(5)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+
|             _c0|
+----------------+
|Jonathan Jamison|
|   Nancy Jackson|
|   Betty Millman|
|     Ethel White|
|     Erin Holmes|
+----------------+
only showing top 5 rows

In [4]:
# Verificando o Schema antes
df_nomes.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- _c0: string (nullable = true)

In [5]:
# Renomear a coluna
df_nomes = df_nomes.withColumnRenamed('_c0','Nomes')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [6]:
# Verificando o Schema depois
df_nomes.printSchema()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

root
 |-- Nomes: string (nullable = true)

In [7]:
# Verificando a alteração da coluna
df_nomes.show(10)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+
|           Nomes|
+----------------+
|Jonathan Jamison|
|   Nancy Jackson|
|   Betty Millman|
|     Ethel White|
|     Erin Holmes|
| Delbert Gilliam|
|Richard Harrison|
|  Myrtle Douglas|
|   Charles Purdy|
| Craig Patterson|
+----------------+
only showing top 10 rows

In [35]:
# Adicionando uma nova coluna referente à escolaridade

import random
from pyspark.sql.functions import lit, when, expr, col

# Valores a serem atribuídos
escolaridade = ['Fundamental', 'Médio', 'Superior']

# Criando a coluna
df_nomes = df_nomes.withColumn('Escolaridade', expr("array(" + ", ".join([f"'{nivel}'" for nivel in escolaridade]) + ")[int(rand() * 3)]"))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [9]:
# Verificando a criação da coluna
df_nomes.show(15)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------------+------------+
|            Nomes|Escolaridade|
+-----------------+------------+
| Jonathan Jamison|       Médio|
|    Nancy Jackson|    Superior|
|    Betty Millman|    Superior|
|      Ethel White| Fundamental|
|      Erin Holmes|       Médio|
|  Delbert Gilliam| Fundamental|
| Richard Harrison|    Superior|
|   Myrtle Douglas| Fundamental|
|    Charles Purdy|    Superior|
|  Craig Patterson|       Médio|
|Ricardo Windmeyer| Fundamental|
|    Joanne Garner| Fundamental|
|     Devona Boyer| Fundamental|
|       Susan Lane|    Superior|
| Michael Stpierre|    Superior|
+-----------------+------------+
only showing top 15 rows

In [10]:
# Adicionando uma nova coluna referente aos países

paises_sul_america = ["Brasil", "Argentina", "Chile", "Colômbia", "Equador", "Peru", "Venezuela", "Uruguai", "Bolívia", "Paraguai", "Suriname", "Guiana", "Guiana Francesa"]

df_nomes = df_nomes.withColumn("Pais", expr("array(" + ", ".join([f"'{pais}'" for pais in paises_sul_america]) + ")[int(rand() * 13)]"))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [11]:
# Verificando a criação da coluna
df_nomes.show(15)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------------+------------+---------+
|            Nomes|Escolaridade|     Pais|
+-----------------+------------+---------+
| Jonathan Jamison|       Médio|  Equador|
|    Nancy Jackson|    Superior|    Chile|
|    Betty Millman|    Superior|  Equador|
|      Ethel White| Fundamental|  Bolívia|
|      Erin Holmes|       Médio|Argentina|
|  Delbert Gilliam| Fundamental|Argentina|
| Richard Harrison|    Superior|Venezuela|
|   Myrtle Douglas| Fundamental| Paraguai|
|    Charles Purdy|    Superior|  Bolívia|
|  Craig Patterson|       Médio|  Bolívia|
|Ricardo Windmeyer| Fundamental|  Equador|
|    Joanne Garner| Fundamental| Paraguai|
|     Devona Boyer| Fundamental|   Brasil|
|       Susan Lane|    Superior| Colômbia|
| Michael Stpierre|    Superior|Argentina|
+-----------------+------------+---------+
only showing top 15 rows

In [12]:
# Adicionando o ano de nascimento (entre 1945 e 2010) a cada nome
df_nomes = df_nomes.withColumn('AnoNascimento', expr("1945 + int(rand() * (2011 - 1945))"))

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [13]:
# Verificando a criação da coluna
df_nomes.show(15)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------------+------------+---------+-------------+
|            Nomes|Escolaridade|     Pais|AnoNascimento|
+-----------------+------------+---------+-------------+
| Jonathan Jamison|       Médio|  Equador|         1957|
|    Nancy Jackson|    Superior|    Chile|         1955|
|    Betty Millman|    Superior|  Equador|         1950|
|      Ethel White| Fundamental|  Bolívia|         1968|
|      Erin Holmes|       Médio|Argentina|         2000|
|  Delbert Gilliam| Fundamental|Argentina|         1990|
| Richard Harrison|    Superior|Venezuela|         1962|
|   Myrtle Douglas| Fundamental| Paraguai|         1954|
|    Charles Purdy|    Superior|  Bolívia|         1983|
|  Craig Patterson|       Médio|  Bolívia|         1986|
|Ricardo Windmeyer| Fundamental|  Equador|         1970|
|    Joanne Garner| Fundamental| Paraguai|         1984|
|     Devona Boyer| Fundamental|   Brasil|         1964|
|       Susan Lane|    Superior| Colômbia|         1952|
| Michael Stpierre|    Superior|Argentina|         1950|
+-----------------+------------+---------+-------------+
only showing top 15 rows

In [25]:
# Selecione as pessoas que nasceram neste século | Select Pyspark

df_seculo_xxi = df_nomes.where(df_nomes['AnoNascimento'] > 2000)
df_select = df_seculo_xxi.select('Nomes', 'AnoNascimento')

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [26]:
# Verifica a seleção
df_select.show(10)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+-------------+
|           Nomes|AnoNascimento|
+----------------+-------------+
|    Martin Orser|         2003|
|   Claudia Meyer|         2002|
|     Carl Chavez|         2010|
|   Richard Rosen|         2005|
|    Michael Wert|         2001|
|      June White|         2005|
|    Jean Daniels|         2008|
|  Earnest Ybanez|         2008|
|Florrie Strieker|         2002|
|   Judith Denson|         2006|
+----------------+-------------+
only showing top 10 rows

In [27]:
# Criando uma tabela temporária com Spark SQL
df_nomes.createOrReplaceTempView ("pessoas")

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [28]:
# Selecionando a tabela 
spark.sql("select * from pessoas").show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+-----------------+------------+---------+-------------+
|            Nomes|Escolaridade|     Pais|AnoNascimento|
+-----------------+------------+---------+-------------+
| Jonathan Jamison|       Médio|  Equador|         1957|
|    Nancy Jackson|    Superior|    Chile|         1955|
|    Betty Millman|    Superior|  Equador|         1950|
|      Ethel White| Fundamental|  Bolívia|         1968|
|      Erin Holmes|       Médio|Argentina|         2000|
|  Delbert Gilliam| Fundamental|Argentina|         1990|
| Richard Harrison|    Superior|Venezuela|         1962|
|   Myrtle Douglas| Fundamental| Paraguai|         1954|
|    Charles Purdy|    Superior|  Bolívia|         1983|
|  Craig Patterson|       Médio|  Bolívia|         1986|
|Ricardo Windmeyer| Fundamental|  Equador|         1970|
|    Joanne Garner| Fundamental| Paraguai|         1984|
|     Devona Boyer| Fundamental|   Brasil|         1964|
|       Susan Lane|    Superior| Colômbia|         1952|
| Michael Stpierre|    Superior|Argentina|         1950|
|    Rachel Murphy|    Superior|   Guiana|         1947|
|     Martin Orser|    Superior|Argentina|         2003|
|     Linda Muller| Fundamental|  Bolívia|         1956|
| Leandro Robotham| Fundamental| Suriname|         1969|
|    Claudia Meyer|    Superior|   Guiana|         2002|
+-----------------+------------+---------+-------------+
only showing top 20 rows

In [29]:
# Selecione as pessoas que nasceram neste século | Select Spark SQL
consulta_sql = """
SELECT Nomes, AnoNascimento
FROM pessoas
WHERE AnoNascimento > 2000
"""
df_seculo_xxi = spark.sql(consulta_sql)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

In [30]:
# Verifica a seleção
df_seculo_xxi.show(10)

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+----------------+-------------+
|           Nomes|AnoNascimento|
+----------------+-------------+
|    Martin Orser|         2003|
|   Claudia Meyer|         2002|
|     Carl Chavez|         2010|
|   Richard Rosen|         2005|
|    Michael Wert|         2001|
|      June White|         2005|
|    Jean Daniels|         2008|
|  Earnest Ybanez|         2008|
|Florrie Strieker|         2002|
|   Judith Denson|         2006|
+----------------+-------------+
only showing top 10 rows

In [37]:
# Contagem da geração Millenials (1980 a 1994) | Pyspark
## Selecione todas as pessoas nascidas entre 1980 e 1994
df_millenials = df_nomes.where((col('AnoNascimento') >= 1980) & (col('AnoNascimento') <= 1994))
df_select = df_millenials.select('Nomes', 'AnoNascimento')
## Conte o numero de registros
df_select.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2271451

In [32]:
# Contagem da geração Millenials (1980 a 1994) | Spark SQL
## Selecione todas as pessoas nascidas entre 1980 e 1994
consulta_sql = """
SELECT Nomes, AnoNascimento
FROM pessoas
WHERE AnoNascimento >= 1980 AND AnoNascimento <= 1994
"""
df_millenials = spark.sql(consulta_sql)

## Conte o numero de registros
df_millenials.count()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

2271451

In [41]:
# Quantidade de pessoas de cada país da geração Z (1995 a 2015)
## Geração Z
df_genZ = spark.sql("""
SELECT Pais, AnoNascimento, COUNT(*) AS Quantidade
FROM pessoas
WHERE AnoNascimento >= 1995 AND AnoNascimento <= 2015
GROUP BY Pais, AnoNascimento
ORDER BY Pais, AnoNascimento, Quantidade
""")

## Armazenando o resultado em um novo dataframe
df_por_pais = df_genZ.groupBy("Pais").agg({"Quantidade": "sum"})

## Show
df_por_pais.show()

FloatProgress(value=0.0, bar_style='info', description='Progress:', layout=Layout(height='25px', width='50%'),…

+---------------+---------------+
|           Pais|sum(Quantidade)|
+---------------+---------------+
|      Argentina|         186085|
|           Peru|         186925|
|       Suriname|         186216|
|        Equador|         186487|
|       Colômbia|         186438|
|         Guiana|         186205|
|          Chile|         186471|
|       Paraguai|         186121|
|      Venezuela|         186570|
|         Brasil|         186669|
|Guiana Francesa|         186867|
|        Uruguai|         185995|
|        Bolívia|         186706|
+---------------+---------------+