# Tarefa 1: Consumindo a API

- [Documentação API | TMDB](https://developer.themoviedb.org/docs/finding-data)
- [API Reference | TMDB](https://developer.themoviedb.org/reference/)

## Imports | Layer AWS Lambda

In [ ]:
import requests
import pandas as pd
from IPython.display import display

:

## Requisição e consumo | API

### Autenticação TMDB

In [3]:
api_key = "$YOUR_API_KEY"

headers = {
    "accept": "application/json",
    "Authorization": "$AUTH_BEARER"
}

### Parâmetros e Endpoint | Quais são os dados de interesse?

In [68]:
## Parâmetros
parametros = "include_adult=false&include_video=false&with_genres=10759&language=pt-BR"

## Lista de Filmes
#endpoint = "3/discover/movie"
### de series
endpoint = "3/discover/tv"

## Lista de paises 
#endpoint = "3/configuration/countries"

### Requisição

In [69]:
url = f"https://api.themoviedb.org/{endpoint}?api_key={api_key}&parametros"
response = requests.get(url)
dados_api = response.json()

# Verifique o código de status da resposta
if response.status_code == 200:
    print('Sucesso!')
    print('Você está trabalhando com: ', type(dados_api))
else:
    print('Erro:', response.status_code)
    print(response.text)

Sucesso!
Você está trabalhando com:  <class 'dict'>

## Explorando os dados | Endpoints

### Visualização dos dados com Pandas

In [70]:
# Informações sobre o esquema e os dados
## Criando o dataframe com Pandas
df = pd.DataFrame(dados_api)
## Criando o dataframe com PySpark
#df_pyspark = spark.createDataFrame(dados_api)

#display(dados_api)
#display(df)
df

,page,results,total_pages,total_results
0,1,{'backdrop_path': '/xl1wGwaPZInJo1JAnpKqnFozWB...,7930,158596
1,1,{'backdrop_path': '/jWXrQstj7p3Wl5MfYWY6IHqRpD...,7930,158596
2,1,{'backdrop_path': '/5AkPhazx8F0Ht74CUdJU03vNzB...,7930,158596
3,1,{'backdrop_path': '/l7LRGYJY3NzIGBlpvHpMsNXHbm...,7930,158596
4,1,{'backdrop_path': '/218ZehBKlH8efPRRccmB7bu0oL...,7930,158596
5,1,{'backdrop_path': '/9TXcHOeCsM8W3ZKKIKjdYUsRSe...,7930,158596
6,1,{'backdrop_path': '/9xxLWtnFxkpJ2h1uthpvCRK6vt...,7930,158596
7,1,{'backdrop_path': '/oOce9hLMVFubjAJliau4kiSNPn...,7930,158596
8,1,{'backdrop_path': '/5MkBAawsj7O9zitVtzMXagyrIB...,7930,158596
9,1,{'backdrop_path': '/q3jHCb4dMfYF6ojikKuHd6Lscx...,7930,158596
10,1,{'backdrop_path': '/4w3AZvQMdzOS7oXXrrPnRD59dB...,7930,158596
11,1,{'backdrop_path': '/aDRIKJuB63tuJUZf1O4mRmbMTV...,7930,158596
12,1,{'backdrop_path': '/2N4LXvTkUwPRkbvyzdmzvtnCHg...,7930,158596
13,1,{'backdrop_path': '/i4n8ZKmCUaxcGMkPhm12selZif...,7930,158596
14,1,{'backdrop_path': '/2GflJk6Hm1L3FFVWIvnuOskDFG...,7930,158596
15,1,{'backdrop_path': '/rj3jBAZwPiOgkwAy1205MAgLah...,7930,158596
16,1,{'backdrop_path': '/jO803koX4pYjGuxjOkLytCusuJ...,7930,158596
17,1,{'backdrop_path': '/1stoC4UstDtmST8x8VATtf08Kf...,7930,158596
18,1,{'backdrop_path': '/hwUQsL1cWt0bmbTxzCompqqvTH...,7930,158596
19,1,{'backdrop_path': '/69Jblm3seQgiPuPQMrJqg9Nxha...,7930,158596

### Filmes do momento (novembro/2023)

    endpoint = "3/movie/popular"

In [71]:
# Colunas do dataframe
for coluna in df.columns:
    print(coluna)

page
results
total_pages
total_results

In [72]:
#df['total_pages']
#df['total_results']
df['results']
df['results'][1]

{'backdrop_path': '/jWXrQstj7p3Wl5MfYWY6IHqRpDb.jpg',
 'first_air_date': '1952-12-26',
 'genre_ids': [10763],
 'id': 94722,
 'name': 'Tagesschau',
 'origin_country': ['DE'],
 'original_language': 'de',
 'original_name': 'Tagesschau',
 'overview': 'German daily news program, the oldest still existing program on German television.',
 'popularity': 3171.909,
 'poster_path': '/7dFZJ2ZJJdcmkp05B9NWlqTJ5tq.jpg',
 'vote_average': 7.4,
 'vote_count': 156}

In [77]:
#filmes = df['results']
series = df['results']
#generos = dados_api.get('genres_ids', [28, 12])

display(series[4]['genre_ids'])
#filmes['genre_ids']

[35, 9648, 10766, 18]

### Coletando os dados que desejo a partir do ID

In [ ]:
## Filmes de ação e aventura
filmes_aa = []
id_acao = 28
id_aventura = 12

for filme in filmes:
    
    genre_ids = filme.get("genre_ids", [])
    
    # Verifique se o filme pertence a ação ou aventura
    if id_acao in genre_ids or id_aventura in genre_ids:
        filmes_aa.append(filme)
#display(filmes_aa)
#len(filmes_aa)

In [82]:
## Series de ação e aventura
series_aa = []
id_acao_aventura = 10759

for serie in series:
    
    genre_id = series.get("genre_ids", [])
    
    # Verifique se o filme pertence a ação ou aventura
    if id_acao_aventura in genre_id:
        series_aa.append(serie)

display(series_aa)
len(series_aa)

[]

0

In [ ]:
# Criando a estrutura de dados de interesse | Discover



## Percorrendo do df
for _ in filme:
    
    dic = {

            'Titulo': _['title'],
            'ID do Gênero': _['genre_ids'],
            'Data de lançamento': _['release_date'],
            'Visão geral': _['overview'],
            'Votos': _['vote_count'],
            'Média de votos:': _['vote_average'],
            'Popularidade:': _['popularity']        

        }
    
    # Adiciona na lista de filmes
    filmes_aa.append(dic)
        
filmes_aa
#filmes_aa

In [ ]:
len(filmes_aa)
#filmes
#filmes[0]['genre_ids']

In [ ]:
# Filmes coletados

# Lista do Python
filmes

# DataFrame do Pandas 
df_pandas = pd.DataFrame(filmes)
display(df_pandas)

# DataFrame do Spark
df_spark = spark.createDataFrame(df_pandas)
df_spark.show()

In [ ]:
## Informações gerais
#df.info()

### Tipo do dado
#df.dtypes

### Quantas linhas tem o objeto?
len(df)
#df.count()

In [ ]:
## Primeiras 5 linhas 
df.head()

In [ ]:
#genero = data['genres'][0]
#genero['id']
#df['native_name'][0]

### Séries do momento (novembro/2023)

    endpoint = ""

In [ ]:
# IDs dos gêneros | ação e aventura(10759)
#series = []
#data['genres']

## Objeto de análise
for genero in data['genres']:
    
    if genero['id'] == 10759:
        genero['name']

In [ ]:
# Construindo a estrutura de dados | Top rated
for serie in series:
    
    dic = {
        'Titulo': serie['title'],
        'chave': serie['id'],
        'chave': serie['id'],
        'chave': serie['id']
    }
    
    # Adiciona na lista de series
    series.append(dic)

In [ ]:
# Series coletadas

# Lista do Python
series

# DataFrame do Pandas 
df_pandas = pd.DataFrame(series)
display(df_pandas)

# Pandas to Spark
df_spark = spark.createDataFrame(df_pandas)
df_spark.show()

In [ ]:
## Informações gerais
#df.info()

### Tipo do dado
#df.dtypes

### Quantas linhas tem o objeto?
len(df)
#df.count()

In [ ]:
## Primeiras 5 linhas 
df.head()

In [ ]:
#genero = data['genres'][0]
#genero['id']
#df['native_name'][0]

## Cargos e departamentos

    endpoint = "3/configuration/jobs"

In [ ]:
# Colunas
#df.columns
#df['jobs']
df['department'][0]
departamento = df['department']
departamento
#df['jobs']

#df['jobs'][0]

In [ ]:
# Trabalhos por departamento

## Objeto de análise
for _ in departamento:
    if _ == 'Directing':
        indice = departamento[departamento == 'Directing'].index[0]
        
        ## Saída
        df['jobs'][indice]

## Recolhendo os dados de interesse

### País

In [ ]:
# Brasil | Visualização de dados 
#display(data)
#df['english_name']
#df['native_name']
#df_sigla = df['iso_3166_1']
#df_sigla[2]
#df['native_name'][_]

## Loop para verificar se é o objeto de interesse
for _ in df_sigla:
    if _ == 'BR':
        indice = df_sigla[df_sigla == 'BR'].index[0]
        df['native_name'][indice]